<div class="blog-post">
  <h1 class="title">
    {{ post().title }}
  </h1>
  <p>
    <span class="publicationTime">
      {{ post().publicationTime | date:"short" }}
    </span>
    @if (canBeEdited() || canBeDeleted()) {
      <span class="actions">
        @if (canBeEdited()) {
          <button class="action" (click)="handleEditClicked()">✏️</button>
        }
        @if (canBeDeleted()) {
          <button class="action" (click)="handleDeleteClicked()">🗑️</button>
        }
      </span>
    }
  </p>
  <hr>
  @if (post().content) {
    <app-markdown-renderer [data]="post().content"/>
  }
</div>
