@if (showDeleteConfirmation) {
  <app-confirmation-dialog
    message="confirmation.deletePost"
    (confirmed)="handleDeleteConfirmed()"
    (cancelled)="handleDeleteCancelled()"/>
}
<div class="blog-post">
  <div class="title">
    {{ post().title }}
  </div>
  <div class="meta">
    <div class="meta-left">
      &nbsp;
    </div>
    <div class="meta-center">
      <span class="publicationTime">
        {{ post().publicationTime | date:"short" }}
      </span>
    </div>
    <div class="meta-right">
      @if (blogPostCanBeEdited || blogPostCanBeDeleted) {
        <span class="actions">
          @if (blogPostCanBeEdited) {
            <app-action-button (clicked)="handleEditClicked()" type="✏️"/>
          }
          @if (blogPostCanBeDeleted) {
            <app-action-button (clicked)="handleDeleteClicked()" type="🗑️"/>
          }
        </span>
      }
    </div>
  </div>
  <div class="content">
    @if (post().content) {
      <app-markdown-renderer [data]="post().content"/>
    }
  </div>
</div>
