@if (showDeleteConfirmation) {
  <app-confirmation-dialog
    message="confirmation.deletePost"
    (confirmed)="handleDeleteConfirmed()"
    (cancelled)="handleDeleteCancelled()"/>
}
<div class="blog-post">
  <h1 class="title">
    {{ post().title }}
  </h1>
  <hr class="separator-100p-fading">
  <div class="meta">
    <div class="publicationTime">
      {{ post().publicationTime | date:"short" }}
    </div>
    @if (blogPostCanBeEdited || blogPostCanBeDeleted) {
      <span class="actions">
        @if (blogPostCanBeEdited) {
          <app-action-button (clicked)="handleEditClicked()" type="✏️"/>
        }
        @if (blogPostCanBeDeleted) {
          <app-action-button (clicked)="handleDeleteClicked()" type="🗑️"/>
        }
      </span>
    }
  </div>
  <div class="content">
  @if (post().content) {
    <app-markdown-renderer [data]="post().content"/>
  }
  </div>
</div>
