@if (thereAreBlogPosts) {
  <div class="blog-post-list">
    @for (post of blogPosts(); track post._links.self.href) {
      <div class="blog-post-list-entry">
        <app-blog-post-preview
          [post]="post"
          (editClicked)="editPost($event)"
          (deleteClicked)="deletePost($event)"
        />
      </div>
    }
  </div>
  <app-pagination [page]="pageInfo()" (pageChanged)="switchPage($event)"/>
} @else {
  <hr class="separator-100p-fading">
  <div class="empty-blog-post-list">
    {{ 'views.blogPostList.thereAreNoBlogPosts' | translate }}
  </div>
  <hr class="separator-100p-fading">
}

@if (userCanGenerateBlogPosts) {
  <app-test-data-generator (generationCompleted)="reloadPage()"/>
}
