.blog-post {
  .title {
    margin-bottom: 0.5rem;
  }

  .title-link {
    text-decoration: none;
    color: black;
  }

  .summary {
    font-size: 1rem;
    font-weight: normal;
  }

  .publicationTime {
    font-size: 0.8rem;
    font-weight: normal;
    margin-top: 0.1rem;
  }

  .meta {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;

    .actions {
      margin-left: 1rem;

      app-action-button {
        margin-left: 0.5rem;
      }
    }
  }
}
