@if (showDeleteConfirmation) {
  <app-confirmation-dialog
    message="confirmation.deletePost"
    (confirmed)="handleDeleteConfirmed()"
    (cancelled)="handleDeleteCancelled()"/>
}
<div class="blog-post">
  <div class="title">
    <a class="title-link" routerLink="/view/{{post().uid}}">
      {{ post().title }}
    </a>
  </div>
  <div class="summary">
    @if (post().summary) {
      {{ post().summary }}
    } @else {
      -
    }
  </div>
  <div class="footer">
    <span class="publicationTime">
      {{ post().publicationTime | date:"short" }}
    </span>
    @if (blogPostCanBeEdited || blogPostCanBeDeleted) {
      <span class="actions">
        @if (blogPostCanBeEdited) {
          <app-action-button (clicked)="handleEditClicked()" type="✏️"/>
        }
        @if (blogPostCanBeDeleted) {
          <app-action-button (clicked)="handleDeleteClicked()" type="🗑️"/>
        }
      </span>
    }
  </div>
</div>
