<form [formGroup]="form" (ngSubmit)="handleSubmit()">

  <div class="form-field">
    <label for="title">
      {{ 'editor.title' | translate }}
      @if (isRequired(form.controls.title)) {
        <span class="required-marker">*</span>
      }
    </label>
    <input id="title" type="text" formControlName="title"
           [class.invalid]="form.controls.title.invalid"/>
  </div>

  <div class="form-field">
    <label for="summary">
      {{ 'editor.summary' | translate }}
      @if (isRequired(form.controls.summary)) {
        <span class="required-marker">*</span>
      }
    </label>
    <textarea id="summary" formControlName="summary" rows="4"
              [class.invalid]="form.controls.summary.invalid"></textarea>
  </div>

  <div class="form-field">
    <label for="content">
      {{ 'editor.content' | translate }}
      @if (isRequired(form.controls.content)) {
        <span class="required-marker">*</span>
      }
    </label>
    <div class="content-tabbed">
      <div class="tab-bar">
        <button type="button" class="tab" [class.active]="contentTab === 'write'"
                (click)="contentTab = 'write'">{{ 'editor.write' | translate }}</button>
        <button type="button" class="tab" [class.active]="contentTab === 'preview'"
                (click)="contentTab = 'preview'">{{ 'editor.preview' | translate }}</button>
      </div>
      @if (contentTab === 'write') {
        <textarea id="content" class="content" formControlName="content" rows="25"
                  [class.invalid]="form.controls.content.invalid"></textarea>
      } @else if (contentTab === 'preview') {
        <app-markdown-renderer class="preview" [data]="form.value.content ?? ''"/>
      }
    </div>
  </div>

  <div class="form-field">
    <label
      for="publicationTime">
      {{ 'editor.publicationTime' | translate }}
      @if (isRequired(form.controls.publicationTime)) {
        <span class="required-marker">*</span>
      }
    </label>
    <input id="publicationTime" type="datetime-local"
           formControlName="publicationTime" [class.invalid]="form.controls.publicationTime.invalid"/>
  </div>

  <button type="submit" [disabled]="!canBeSubmitted()">{{ submitLabel() | translate }}</button>

</form>
