:root {
  --page-background-color: #6b8299;
  --font-color: #000000;

  --separator-color: #888888;

  --border-color: #bbbbbb;
  --border-invalid-color: #ff0000;

  --light-background-color: #ffffff;
  --dark-background-color: #f0f0f0;
  --darker-background-color: #e0e0e0;
}
