@use 'variables';

body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  color: var(--font-color);
  background-color: var(--page-background-color);
}

input,
textarea,
button,
select {
  font-family: inherit;
  font-size: inherit;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="number"],
input[type="tel"],
input[type="url"],
input[type="search"],
input[type="date"],
input[type="datetime-local"],
input[type="time"],
textarea {
  background-color: var(--light-background-color);
  border: 1px solid var(--border-color);
  border-radius: 0;
  padding: 0.5rem;

  &:disabled {
    background-color: var(--dark-background-color);
  }
}

button {
  appearance: none;
  min-height: 25px;
  padding: 0.5rem 1rem;
  border: 1px solid var(--border-color);
  border-radius: 0.25rem;
  background-color: var(--dark-background-color);
  cursor: pointer;

  &:hover:not(:disabled) {
    background-color: var(--darker-background-color);
  }
  &:disabled {
    cursor: not-allowed;
    color: color-mix(in srgb, var(--font-color) 33%, white);
    border-color: color-mix(in srgb, var(--border-color) 50%, white);
    background-color: color-mix(in srgb, var(--dark-background-color) 50%, white);
  }
}

h1 {
  font-size: 2rem;
  font-weight: bold;
}

h2 {
  font-size: 1.75rem;
  font-weight: bold;
}

h3 {
  font-size: 1.5rem;
  font-weight: bold;
}

h4 {
  font-size: 1.25rem;
  font-weight: bold;
}

h5 {
  font-size: 1rem;
  font-weight: bold;
}

.separator-75p-fading {
  width: 75%;
  height: 1px;
  border: none;
  background: linear-gradient(to right, transparent, var(--separator-color), transparent);
}

.separator-100p-fading {
  width: 100%;
  height: 1px;
  border: none;
  background: linear-gradient(to right, transparent, var(--separator-color), transparent);
}
