form {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 1rem;
  align-items: start;
}

.form-field {
  display: contents;

  label {
    .required-marker {
      color: red;
      margin-left: 0.25rem;
    }
  }

  input,
  textarea {
    &.invalid {
      border-color: red;
    }
  }

  input[type="datetime-local"] {
    justify-self: start;
  }
}

button[type="submit"] {
  grid-column: 1 / -1;
  justify-self: end;
  appearance: none;
  min-height: 25px;
  padding: 0.5rem 1rem;
  border: 1px solid #888;
  border-radius: 0.25rem;
  background-color: #f0f0f0;
  cursor: pointer;

  &:disabled {
    cursor: not-allowed;
    opacity: 0.6;
  }
}
